{{template "layout" .}}
{{define "title"}}Role Details{{end}}

{{define "body"}}
{{with .Role}}
<div class="container">
    <div class="mb-3">
        <a class="btn btn-warning" href="/roles/{{.ID}}"><i class="las la-edit"></i>更改</a>
        <a class="btn btn-danger" id="delete" href="#"><i class="las la-trash"></i>删除</a>
    </div>
    <hr>
    <p>序号: {{.ID}}</p>
    <p>名称: {{.Name}}</p>
    <p>描述: {{.Description}}</p>
</div>
{{end}}
{{end}}

{{define "script"}}
<script>
    $('#delete').click(function (e) {
        e.preventDefault();
        var id = "{{.Role.ID}}"
        $.ajax({
            type: 'POST',
            url: '/roles/' + id + '/',
            data: {
                id: id,
                csrf_token: '{{.CSRFToken}}'
            },
            success: function () {
                console.log('deleted:' + id);
                window.location.href = "/roles";
            },
            error: function (result) {
                console.log(result);
            }
        })
    })
</script>
{{end}}