{{template "layout" .}}
{{define "title"}}role{{end}}

{{define "body"}}
<div class="container">
    <div class="clearfix">
        <h4 class="float-left">角色</h4>
        <a href="/roles/" class="btn btn-primary float-right"><i class="las la-file">添加</i></a>
    </div>
    <hr>
    {{if .Roles}}
    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>描述</th>
                <th>权限</th>
            </tr>
        </thead>
        {{range .Roles}}
        <tr>
            <td>{{.ID}}</td>
            <td><a href="/roles/{{.ID}}/details">{{.Name}}</a></td>
            <td>{{.Description}}</td>
            <td><a href="/casbin/{{.Name}}/policies">权限</a></td>
        </tr>
        {{end}}
    </table>
    {{end}}
</div>
{{end}}