{{template "layout" .}}
{{define "title"}}Role Edit{{end}}

{{define "body"}}
<div class="container">
    <form method="POST" action="/roles/{{.Role.ID}}">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

        <div class="mb-3">
            <label for="name">名称</label>
            <input id="name" name="name" type="text" value="{{.Role.Name}}" maxlength="20" class="form-control">
            {{with .Form}}
            <span class="invalidate">{{.Errors.Get "name"}}</span>
            {{end}}
        </div>

        <div class="mb-3">
            <label for="name">描述</label>
            <input id="desc" name="desc" type="text" value="{{.Role.Description}}" maxlength="50" class="form-control">
            {{with .Form}}
            <span class="invalidate">{{.Errors.Get "name"}}</span>
            {{end}}
        </div>

        <input type="submit" class="btn btn-primary" value="保存" />
    </form>
</div>
{{end}}