{{template "layout" .}}
{{define "title"}}Create Role{{end}}

{{define "body"}}
<div class="container">
    <form action="/roles/" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{with .Form}}
        <div class="mb-3">
            <label for="name">名称</label>
            <input id="name" name="name" type="text" value="{{.Get "name"}}" maxlength="20" class="form-control" />
            {{with .Errors.Get "name"}}
            <span class="invalidate">{{.}}</span>
            {{end}}
        </div>

        <div class="mb-3">
            <label for="desc">描述</label>
            <input id="desc" name="desc" type="text" value="{{.Get "desc"}}" maxlength="50" class="form-control" />
            {{with .Errors.Get "desc"}}
            <span class="invalidate">{{.}}</span>
            {{end}}
        </div>
        <button class="btn btn-primary">保存</button>
        {{end}}
    </form>
</div>
{{end}}

{{define "script"}}
<script src="/static/select2/js/select2.min.js"></script>
<script src="/static/select2/js/i18n/zh-CN.js"></script>
<script src="/static/js/select2-config.js"></script>
{{end}}