{{template "layout" .}}
{{define "title"}}User Assign Roles{{end}}

{{define "body"}}
<div class="container">
    <h4>分配角色</h4>
    <hr>
    <form method="POST" action="/users/{{.User.ID}}/roles">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{$user_roles:=.RolesForSpecificUser}}
        <div class="card border-primary mb-3">
            <div class="card-header">用户：{{.User.Name}} [{{.User.SN}}]</div>
            <div class="card-body">
                <h5 class="card-title">角色:</h5>
                {{range .Roles}}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="roles" value="{{.Name}}" id="{{.Name}}"
                        {{rolesChecked .Name $user_roles|safe}} />
                    <label for="{{.Name}}" class="form-check-label">{{.Name}}</label>
                </div>
                {{end}}
            </div>
        </div>

        <input type="submit" value="保存" class="btn btn-primary">
    </form>
</div>
{{end}}