{{template "layout" .}}
{{define "title"}}Create Policy{{end}}

{{define "body"}}

<form action="/casbin/policies/" method="POST" class="needs-validation" novalidate>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

    <div class="row mb-2">
        <label for="sub" class="col-sm-1 col-form-label">Sub</label>
        <div class="col-sm">
            <input type="text" name="sub" id="sub" class="form-control" required>
        </div>
    </div>

    <div class="row mb-2">
        <label for="obj" class="col-sm-1 col-form-label">Obj</label>
        <div class="col-sm">
            <input type="text" name="obj" id="obj" class="form-control" required>
        </div>
    </div>

    <div class="row mb-2">
        <label for="act" class="col-sm-1 col-form-label">Act</label>
        <div class="col-sm">
            <input type="text" name="act" id="act" class="form-control" required>
        </div>
    </div>
    <!-- <input type="submit" id="save" class="btn btn-primary offset-sm-1" value="Save"> -->
    <button type="submit" id="save" class="btn btn-primary offset-sm-1"><i class="las la-save"></i> Save</button>
</form>

{{end}}

{{define "script"}}
<script>
    $('#savejjj').click(function (e) {
        e.preventDefault();
        var ref = document.referrer;
        // form value
        var sub = $('#sub').val();
        var obj = $('#obj').val();
        var act = $('#act').val();

        $.ajax({
            url: '/casbin/policies/',
            type: 'POST',
            data: {
                sub: sub,
                obj: obj,
                act: act,
                csrf_token: '{{.CSRFToken}}',
            },
            success: function () {
                if (ref.indexOf(sub) > 0) {
                    window.location.href = "/casbin/" + sub + "/policies";
                } else {
                    window.location.href = "/casbin/policies";
                }
            },
            error: function (r) {
                console.log(r)
            }
        });
    });

    // Self-executing function
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{{end}}