{{define "policy_list"}}
<div class="clearfix">
    <h4 class="float-left">POLICIES</h4>
    <a href="/casbin/policies/" class="btn btn-primary float-right">
        <i class="las la-file"></i> Create</a>
</div>
<hr>
{{$count:=len .CasbinPolicies}}
{{if gt $count 0}}
<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th>Sub</th>
            <th>Obj</th>
            <th>Act</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {{range .CasbinPolicies}}
    <tr>
        <td>{{.Sub}}</td>
        <td>{{.Obj}}</td>
        <td>{{.Act}}</td>
        <td class="text-center">
            <a class="edit" href="/casbin/policies/edit?sub={{.Sub}}&obj={{.Obj}}&act={{.Act}}" style="display: block;">
                <i class="las la-edit" title="Edit"></i>
            </a>
        </td>
        <td class="text-center"><a class="delete" href="#">
                <i class="las la-trash" title="Delete"></i>
            </a>
        </td>
    </tr>
    {{end}}
</table>
{{else}}
<div class="card bg-warning">
    <div class="card-header">NO DATA</div>
    <div class="card-body">
        <p class="card-text">NO POLICIES DEFINED</p>
    </div>
</div>
{{end}}
{{end}}

{{define "policy_script"}}
<script>
    $('.delete').click(function () {
        var url = window.location.href;
        var row = $(this).closest("tr")
        var sub = row.find("td:first").text()
        var obj = row.find("td:nth-child(2)").text()
        var act = row.find("td:nth-child(3)").text()

        $.ajax({
            url: '/casbin/policies/' + sub + '/',
            type: 'POST',
            data: {
                sub: sub,
                obj: obj,
                act: act,
                csrf_token: '{{.CSRFToken}}'
            },
            success: function () {
                if (url.indexOf(sub) > 0) {
                    window.location.href = "/casbin/" + sub + "/policies";
                } else {
                    window.location.href = "/casbin/policies";
                }
            },
            error: function (result) {
                console.log(result);
            }
        })
    });
</script>
{{end}}